:root {
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    --very-dark-grey: hsl(0, 0%, 17%);
    --dark-grey: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/pattern-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vh;
}

.hero__heading {
    padding: 2rem 0;
    color: white;
    font-weight: var(--font-medium);
    font-size: 1.6rem;
}

.hero__input-label {
    display: none;
}

.hero__input {
    width: 70%;
    height: 3.5rem;
    border-radius: 1rem 0 0 1rem;
    border: none;
    padding: 0 2rem;
    font-weight: var(--font-bold);
    font-size: 1rem;
}

.hero__input-btn {
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    position: relative;
    border-radius: 0 1rem 1rem 0;
    background: rgb(56, 56, 56);
    border: 1px solid rgba(206, 206, 206, 0.486);
    cursor: pointer;
}

main {
    height: 60vh;
    width: 100%;
}

.output {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(70% + 3.5rem);
    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    text-align: center;
    padding: .5rem 0;
    z-index: 10;
    height: 40vh;
}

.output__info {
    padding: .8rem 0;
}

.output__info-heading {
    font-size: .7rem;
    letter-spacing: 0.1rem;
    color: var(--dark-grey);
    text-transform: uppercase;
}
.output__info-content {
    font-size: 1.6rem;
    padding-top: .5rem;
}
#mapid {
    height: 100%;
    z-index: 9;
}

@media only screen and (min-width: 1300px){
    .output {
        flex-direction: row;
        justify-content: space-evenly;
        height: 13rem;
    } 
    .output__info-content {
        max-width: 12ch;
        height: 3rem;
    }
    .output__info {
        padding: 0rem 5rem;
    }
    .hero {
        height: 30vh;
    }
    main {
        height: 70vh;
    }
    .output__info:nth-child(1) {
        border-right: 1px solid lightgray;
 
    }
    .output__info:nth-child(2) {
        border-right: 1px solid lightgray;
    }
    .output__info:nth-child(3) {
        border-right: 1px solid lightgray;
    }
}

@media only screen and (max-width: 375px) {
    html {
        font-size: 75%;
    }
}